.form-item-drupalentor-custom-css .CodeMirror,
.form-item-drupalentor-custom-css textarea,
#css-editor-preview-path,
#css-editor-preview {
  border: 1px solid #ccc;
}

.form-item-drupalentor-custom-css .CodeMirror,
.form-item-drupalentor-custom-css textarea {
  height: 400px;
}

.form-item-drupalentor-custom-css .form-textarea-wrapper label {
  display: inline;
  font-weight: normal;
  line-height: 36px;
  font-size: 12px;
}

.CodeMirror-gutter{
width: 30px;
}