/****/
.drupalentor-editor #toolbar-administration {
  display: none;
}

#drupalentor-builder {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  overflow: auto;
  height: 100%;
}

.drag-elements-sidepane ul > li ol {
  width: 100%;
}

.chosen-container {
  min-width: 150px;
}

.widgets-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background: #fff;
  border: 1px solid #dedede;
  width: 500px;
}
.widgets-modal ul {
  display: flex;
  flex-wrap: wrap;
}
.widgets-modal ul li {
  width: 33%;
}
