* {
  box-sizing: border-box;
}

.drupalentor-builder-wrapper {
  display: flex;
  justify-content: center;
}

.drupalentor-editor-active .layout-container {
  margin: 0 !important;
}
.drupalentor-editor-active .content-header .layout-container {
  margin: 0 3rem !important;
}

.drupalentor-preview-wrapper {
  display: flex;
  justify-content: center;
  background-color: #4a4a4a;
}
.drupalentor-preview-wrapper .drupalentor-preview-content {
  width: 100%;
  left: auto !important;
  height: calc(100vh - 95px);
  overflow: hidden;
}

#drupalentor-preview {
  width: 100%;
  height: calc(100vh - 95px);
}

.widget-drupalentor_row:first-child > .drupalentor-widget-action-tabs {
  top: 0;
}

#drupalentor-builder {
  left: auto !important;
  width: 100%;
}
.toolbar-fixed #drupalentor-builder {
  height: calc(100% - 70px);
  top: 70px;
}
#drupalentor-builder .add-section {
  margin-top: 100px;
  padding: 50px;
}
#drupalentor-builder .add-section_wrapper {
  padding: 50px;
  border: 1px solid #dedede;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: #f3f3f3;
}
#drupalentor-builder .add-section_wrapper:hover {
  background-color: #dfe1ed;
}

#top-panel,
#drupalentor_form_builder {
  position: sticky;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  z-index: 99;
  padding: 10px;
  transition: padding .2s ease-in;
}
#top-panel:hover,
#drupalentor_form_builder:hover {
  padding-top: 20px;
  padding-bottom: 20px;
}
#top-panel .btn-top-panel,
#drupalentor_form_builder .btn-top-panel {
  margin: 0 5px;
  background: none;
  color: #fff;
  border: none;
  font-size: 22px;
  position: relative;
}
#top-panel .btn-top-panel:hover,
#drupalentor_form_builder .btn-top-panel:hover {
  color: #08CCB2;
}
.toolbar-fixed #top-panel, .toolbar-fixed
#drupalentor_form_builder {
  top: 80px;
}

#top-panel {
  top: 0;
}

#drupalentor_form_builder {
  bottom: 0;
}

.drupalentor-widget {
  position: relative;
  min-height: 50px;
}

.widget-drupalentor_row,
.widget-drupalentor_column {
  border: 1px dashed #dedede;
  padding-top: 28px;
}

h2.accordion-header {
  margin-top: 0;
  position: relative;
}

.accordion-actions {
  display: flex;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
}

.ui-resizable-handle {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.ui-resizable-handle:before {
  content: "";
  width: 6px;
  height: 100px;
  background: #ff006a;
  border-radius: 20px;
  display: block;
}

.l {
  left: 0;
}

.r {
  right: 0;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

.drupalentor-widget-action-tabs {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  margin: 0;
  z-index: 12;
}
.drupalentor-widget-action-tabs.tab-drupalentor_column .drupalentor-up-widget > i {
  transform: rotate(-90deg);
}
.drupalentor-widget-action-tabs.tab-drupalentor_column .drupalentor-down-widget > i {
  transform: rotate(-90deg);
}
.drupalentor-widget-action-tabs.tab-drupalentor_row {
  top: -29px;
  justify-content: center;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0dcaf0;
  padding: 0;
}
.drupalentor-widget-action-tabs.tab-drupalentor_row div {
  margin: 0;
  background: none;
}
.drupalentor-widget-action-tabs.tab-drupalentor_column div {
  background: #08CCB2;
}
.drupalentor-widget-action-tabs li {
  display: flex;
}
.drupalentor-widget-action-tabs div {
  background: #ffc107;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 28px;
  border: none;
  cursor: pointer;
}

.drupalentor-tabs-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 50px 0 0;
  background: #f3f3f3;
}
.drupalentor-tabs-list a {
  text-decoration: none;
  background: #08CCB2;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  color: black;
  margin: 0;
  position: relative;
  outline: none !important;
}
.drupalentor-tabs-list a:hover {
  opacity: 0.8;
}
.drupalentor-tabs-list a.active {
  background: white;
  z-index: 10;
  pointer-events: none;
}

.drupalentor-tabs-elements .drupalentor-tab {
  display: none;
}
.drupalentor-tabs-elements .drupalentor-tab h4 {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.drupalentor-tabs-elements .drupalentor-tab:first-child {
  display: block;
}

[data-state-group]:nth-child(n+2) {
  display: none;
}

.hover_tabs, .responsive__tabs {
  display: flex;
}
.hover_tabs a, .responsive__tabs a {
  padding: 8px 15px;
  color: #4a4a4a;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
}
.hover_tabs a.active, .responsive__tabs a.active {
  background-color: #08CCB2;
}

.hover_tabs a {
  background-color: #cbcbcb;
}

.field__hover-content {
  padding: 15px;
  border: 1px solid #dedede;
}

.responsive__tabs {
  margin-bottom: 15px;
}

.drupalentor-modal {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #00000030;
  display: flex;
  top: 0;
  left: 0;
  justify-content: flex-start;
}
.drupalentor-modal .drupalentor-modal_container {
  width: 25%;
  background-color: #fff;
  height: 100%;
  overflow: auto;
}
.drupalentor-modal .form-widget {
  padding: 25px;
}
.toolbar-fixed .drupalentor-modal .form-widget {
  padding-top: 100px;
}

.drupalentor-element-widget-modal ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.drupalentor-element-widget-modal .widget-box_element {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dedede;
  padding: 15px;
  cursor: pointer;
}
.drupalentor-element-widget-modal .widget-box_element i {
  font-size: 30px;
}
.drupalentor-element-widget-modal .widget-box_element span {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 5px;
}
.drupalentor-element-widget-modal .widget-box_element:hover {
  background-color: #FACB38;
}

.drupalentor-column-modal ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.drupalentor-column-modal li {
  width: 20%;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
.drupalentor-column-modal li:before, .drupalentor-column-modal li:after {
  content: "";
  border-radius: 5px 0 0 5px;
  background-color: #08CCB2;
  height: 50px;
  display: block;
}
.drupalentor-column-modal li:after {
  width: 90%;
  background-color: #cc7e08;
  border-radius: 0 5px 5px 0;
}
.drupalentor-column-modal li.wd-10:before {
  width: 10%;
}
.drupalentor-column-modal li.wd-10:after {
  width: 90%;
}
.drupalentor-column-modal li.wd-20:before {
  width: 20%;
}
.drupalentor-column-modal li.wd-20:after {
  width: 80%;
}
.drupalentor-column-modal li.wd-30:before {
  width: 30%;
}
.drupalentor-column-modal li.wd-30:after {
  width: 70%;
}
.drupalentor-column-modal li.wd-40:before {
  width: 40%;
}
.drupalentor-column-modal li.wd-40:after {
  width: 60%;
}
.drupalentor-column-modal li.wd-50:before {
  width: 50%;
}
.drupalentor-column-modal li.wd-50:after {
  width: 50%;
}
.drupalentor-column-modal li.wd-60:before {
  width: 60%;
}
.drupalentor-column-modal li.wd-60:after {
  width: 40%;
}
.drupalentor-column-modal li.wd-70:before {
  width: 70%;
}
.drupalentor-column-modal li.wd-70:after {
  width: 30%;
}
.drupalentor-column-modal li.wd-80:before {
  width: 80%;
}
.drupalentor-column-modal li.wd-80:after {
  width: 20%;
}
.drupalentor-column-modal li.wd-90:before {
  width: 90%;
}
.drupalentor-column-modal li.wd-90:after {
  width: 10%;
}
.drupalentor-column-modal li.wd-100:before {
  width: 100%;
  border-radius: 5px;
}
.drupalentor-column-modal li.wd-100:after {
  width: 0%;
}

.drupalentor-media-modal {
  position: fixed;
  z-index: 102;
  width: 100%;
  height: 100%;
  background: #00000030;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.drupalentor-media-modal .drupalentor-modal_container {
  width: 100%;
  max-width: 860px;
  background-color: #fff;
  height: 100%;
  max-height: 640px;
  overflow: auto;
  padding: 25px;
}
.toolbar-fixed .drupalentor-media-modal .drupalentor-modal_container {
  padding-top: 100px;
}

.drupalentor-editor-active .image-box {
  cursor: pointer;
  align-items: center;
  display: flex;
  align-items: center;
  padding: 10px;
}
.drupalentor-editor-active .image-box > .btn {
  display: none;
}
.drupalentor-editor-active .image-box span {
  padding: 10px;
  background: #f3f3f3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
}
.drupalentor-editor-active .image-box.selected span {
  border-color: #1c47ca;
}
.drupalentor-editor-active .image-box:hover {
  background-color: #dcdcdc;
}
.drupalentor-editor-active .image-box:hover span {
  background: #dfdfdf;
}
.drupalentor-editor-active .image-box:hover > .btn {
  display: block;
}
.drupalentor-editor-active .drupalentor-hover-modal {
  z-index: 2;
}

input::placeholder {
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
  color: #7a7a7a;
}

.search_product::placeholder {
  font-size: 16px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

select::-ms-expand {
  display: none;
}

form {
  margin: 0;
}

.drupalentor_field {
  margin-bottom: 15px;
  padding: 15px;
  background: #f3f3f3;
}
.drupalentor_field .drupalentor_field {
  margin-bottom: 15px;
  padding: 0;
  background-color: transparent;
}
.drupalentor_field h5 {
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
}
.drupalentor_field label {
  font-size: .8rem;
}

.field-element-list-horizontal {
  list-style: none;
  padding: 0;
  margin: 15px  0 0;
  display: flex;
}
.field-element-list-horizontal li {
  margin-bottom: 5px;
  margin-right: 5px;
}
.field-element-list-horizontal li:last-child {
  margin: 0;
}

.drupalentor_field__responsive h5 {
  width: 100%;
}
.drupalentor_field__responsive p {
  margin: 0;
  font-size: .8rem;
}
.drupalentor_field__responsive .field-wrapper {
  margin-right: 15px;
}
.drupalentor_field__responsive .drupalentor_field {
  margin: 0;
  padding: 0;
}

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.btn-group-margin {
  display: flex;
  justify-content: space-between;
}
.btn-group-margin .btn {
  margin-right: 15px;
}
.btn-group-margin .btn:last-child {
  margin-right: 0;
}

/* Carga Ajaxs */
.ajax-progress {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 502;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-image: none;
}
.ajax-progress:after {
  content: "";
  position: absolute;
  left: 50%;
  height: 75px;
  width: 75px;
  top: 50%;
  display: inline-block;
  margin-top: -15px;
  margin-left: -15px;
  background: url('../img/icons/preloader.svg') scroll no-repeat center center;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.ajax-progress .throbber {
  display: none;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.ui-tooltip {
  background: #666;
  color: white;
  border: none;
  padding: 0;
  opacity: 1;
}

.ui-tooltip-content {
  position: relative;
  padding: 1em;
}

.ui-tooltip-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}

#pageMessages {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 30%;
  z-index: 999;
}

.alert {
  position: relative;
}
.alert p {
  margin: 0;
}

.alert .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1em;
}

.alert .fa {
  margin-right: .3em;
}
