
body{

  &.boxed{ 
    max-width: 1440px;  
    margin: 0 auto;
    @include box-shadow(0px 5px 5px rgba(0, 0, 0, 0.15));
    background-color: #222;
    div.body-page{
      background: $white;
    }
  }
  .body-page{
    background-color: #fff;
    .main-page{
      &.has-breadcrumb{
        .container-bg{
          background: $white;
          position: relative;
          z-index: 1;
        }
      }
        &.container-no-sidebar{
        padding: 50px 0;
        }
    }
  }

}

.topbar{
background: #333333;
color: #bbbbbb;
font-size: 12px;
padding: 8px 15px;
width: 100%;
@include transition(all .2s ease-in-out);
float: left;
    ul.inline > li{
    margin-left: 0;
    margin-right: 10px;
    }
    li span{
    display:flex;
    align-items: center;
    }
    i{
    color: $white;
    font-size: 16px;
    @include transition(color 0.35s);
    margin-left: 5px;
    min-width: auto;
        &:hover{
        color: $theme-color;
        }
    }
    .text-left{
        i{
        margin-left: 0;
        margin-right: 5px;
        }
    }
    .text-right{
        ul.inline > li{
        margin-left: 5px;
        margin-right: 0px;
        }
    }
  .block{
    margin: 0!important;
  }
}

.language-box{
  .links{
    display: flex;
    justify-content: space-between;
    > li{
      margin-right: 10px;
      @include opacity(0.6);
      line-height: 1;
      margin-top: 5px;
      float: right;
      &.is-active, &:hover{
        @include opacity(1);
          a{
       color: $theme-color;
          }
      }
        a{
        color:#fff;
        text-transform: uppercase;
        }
    }
  }
}

#header{
position: relative;
background: $white;
left: 0;
top: 0;
width: 100%;
box-shadow: 0 0 44px rgba(0,0,0,0.2);
display: flex;
flex-direction: column;
@include transition(all .3s ease-in-out);
    .toolbar-fixed &{
    position: static;
    }
    .logo-white{
    display: none;
    }
    &.header-v2{
    background: rgba(0,0,0,0.2);
    z-index: 99;
    position: absolute;
        .toolbar-fixed &{
        position: static;
        background: black;
        }
        .logo-default{
        display: none;
        }
        .logo-white{
        display: block;
        }
        &.small{
        background: rgba(0, 0, 0, 0.85);
            .topbar{
            opacity: 0;
            height: 0px;
            overflow: hidden;
            padding: 0;
            }
        }
    }
    .gva-search-region{
        .icon{
        color: $black;
        }
    }
    .header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
        @media(max-width: $screen-xs-max){
        padding: 15px;
        }
    }
    .branding{
    width: 240px;
    float: left;
        @media(max-width: $screen-xs-max){
        width: 190px;
        }
    }
    .header-right{

    }
    .main-menu{
    display: flex;
    align-items: center;
        .main-menu-inner{
        margin-right: 15px;
            @media(max-width: $screen-sm-max){
            margin-right: 0;
            }
        }
        @media(max-width: $screen-xs-max){ 
        display: none;
        }
        > div{
        display: flex;
        align-items: center;
        }
    }
}

//Quick Side
.quick-side-icon{
  .icon{
    font-size: 20px;
    line-height: 1;
  }
    a{
        .header-v2 &{
        color: #fff;
        }
    }
}

.gva-quick-side{
  position: fixed;
  width: 350px;
  top: 0;
  right: -355px;
  z-index: 99;
  @include box-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  background: $white;
  @include transition(all 0.35s ease-in-out);
  text-align: center;
  padding: 20px 30px;
  overflow-x: hidden;
  height: 100%;
  @media(max-width: 355px){
    width: 100%;
  }
  .quick-side-close{
    margin-bottom: 15px;
    font-size: 18px;
    display: inline-block;
  }
  .content-inner{
    .block{
      text-align: center;
      .block-title{
        text-align: center;
        font-weight: 600;
        &:after{
          left: 50%;
          margin-left: -15px;
        }
      }
    }
    ul{
      width: 100%;
      > li{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        &:last-child{
          border-bottom: none;
        }
        a{
          padding: 0;
          font-size: 14px;
          &:hover, &:active, &:focus{
            color: $theme-color!important;
          }
        }
      }
    }
  }
  .block{
    border-bottom: 1px solid $border-color;
    margin-bottom: 20px;
    padding-bottom: 20px;
    float: left;
    width: 100%;
  }
  &.open{
    right: 0;
    width: 352px;
  }
}

body.logged-in{
  &.toolbar-horizontal{
    .gva-quick-side{
      padding-top: 90px;
    }
  }
}


.area{
  &.slideshow_content{
    .block{
      margin-bottom: 0;
    }
  }
}

.area-panel{
  padding: 30px 0;
}

.promotion{
  padding: 0;
  margin-bottom: 0;
}

#page-main-content{
  min-height: 360px;
  @media(max-width: $screen-sm-max){
    min-height: 100px;
  }
}

.sidebar{
  position: relative;
}


#footer{
width: 100%;
float: left;
font-size: 14px;
color: #d5d7d8;
background: #272727;
line-height: 28px;
    ul{
    padding-left:0;
        li{
        list-style:none;
        }
    }
    a{
    color: #d5d7d8;
    &:hover, &:focus{
    color: $theme-color;
    }
    }
    .before-footer{
    padding: 50px 0 0;
    }

  .footer-center{
    padding: 75px 0 50px;
  }
  .block{
    padding-bottom: 0;
    margin-bottom: 0;
    .block-title{
      span{
        color: $white!important;
        &:after, &:before{
          display: none;
        }
      }
    }
      .gva_menu{
          li {
            display: block;
            margin-bottom: 15px;
              a{
            padding:5px 0;
              }
          }
      }
  }
  .copyright{
    font-size: 15px;
    padding-bottom: 35px;
  }
  .copyright-links a:after{
    background: rgba(255, 255, 255, 0.2);
  }
  ul.menu > li > a{
    &:after{
      background: #d5d7d8;
      @include border-radius(50%);
    }
  }
  @media(max-width: $screen-sm-max){
    .column{
      margin-bottom: 30px;
    }
  }
}
.footer-top{
background: $theme-color;
padding: 25px 0;
}
body.footer-white{
  #footer{
    background: #f5f5f5;
    color: #5f5f5f;
    a{
      color: #5f5f5f;
      &:hover{
        color: $theme-color;
      }
    }
    .footer-center{
      padding: 50px 0 35px;
    }
    .block{
      .block-title{
        span{
          color: $black!important;
        }
      }
    }
    .before-footer{
      padding-top: 0!important;
    }
    .footer-center{
      .content-inner{
        padding: 30px;
        background: #F1F3F4;
      }
    }
    .post-block{
      .post-categories{
        a{
          color: $theme-color;
        }
      }
      .post-created{
        color: #6f6f6f;
      }
    }
  }
  .social-border{
    .socials{
      &:after, &:before{
        background: rgba(0, 0, 0, 0.1);
      }
      a{
        color: $black;
      }
    }
  }
  .copyright{
    a{
      color: $theme-color;
    }
    .copyright-inner{
      padding: 0 0 35px;
      .block{
        margin: 0;
      }
    }
  }
}
.why-us{
    @media (max-width:767px){
        .column-content-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .gsc-icon-box{
            &.top-right,
            &.top-left{
            text-align: center;
                .highlight-icon{
                text-align: center;
                }
            }
        }
    }
}
.user-account{
padding-top: 50px;
padding-bottom: 50px;
    .col-left{
        ul.drupal-tabs{
        padding: 0;
        margin: 0 0  25px;
        border: none;
            li{
            width:100%;
            text-align: left;
            margin: 0 0 15px;
            }
        }
    }
    .js-form-item{
    margin-bottom: 15px;
        > label{
        width: 120px;
        }
        &.js-form-item-address-0-address-address-line2{
        padding-left: 122px;
        }
    }
    .form-actions{
    display: flex;
        .button{
        margin-right: 15px;
        }
    }
}
#edit-account{ 
    .js-form-item{
    margin-bottom: 15px;
        > label{
        display: block;
        width: 100%;
        }
    }
}
#user-form{
    
}