
.menu-toggle{
display: none;
}

.header-main .navigation {
position: relative;
clear: both;
    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    .es_menu {
    float: left;
    position: relative; 
    font-size: 0;
        li {
        position: relative;
            a{
            text-align: left!important;
            }
        }
        > li {
        display: inline-block;
            &:hover {
                @media(min-width: $screen-sm-max){
                    > ul.sub-menu, div.sub-menu {
                    display: block;
                    visibility: visible;
                    @include opacity(1);
                    top: 99%;
                    -webkit-transform: rotateX(0);
                    -moz-transform: rotateX(0);
                    -ms-transform: rotateX(0);
                    -o-transform: rotateX(0);
                    transform: rotateX(0);
                    }
                    > a {
                    color: $theme-color;
                    }
                }	
            }
            > a {
            display: block;
            position: relative;
            font-size: 13px; 
            line-height: 13px;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 28px 15px;
            @include transition(all 0.35s);
            text-align: center;
            font-family: $font-second;
                .header-v2 &{
                color: #fff;
                }

                &:hover, &:after, &:active{
                color: $theme-color;
                    &:before{
                        @include opacity(1);
                    }
                }
                &.is-active{
                color: $theme-color;	
                    &:before{
                    @include opacity(1);
                    }
                }
                > span{
                position: relative;
                margin-left: 5px;
                }
            } 
            &.menu-item--active-trail > a{
            color: $theme-color!important;
            }
        }
        .sub-menu {
        top: 99%;
        @include opacity(0);
        position: absolute;
        min-width: 280px;
        background-color: $white;
        border-top: 1px solid $theme-color;
        z-index: 999;
        left: 0;
        padding: 10px 20px 0;
        visibility: hidden;
        @include opacity(0);
        @include transition(all 0.2s ease-out);
        @include box-shadow(0px 4px 4px 1px rgba(0, 0, 0, 0.2));
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
        -o-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
            > li {
            padding: 0 0 9px 0;
            margin-bottom: 9px;
            border-bottom: 1px solid $border-color;
                > a {
                    display: block;
                    line-height: 26px;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.5;
                    text-transform: none;
                    @include transition(all 0.2s ease-out);
                    position: relative;
                    &:hover, &:focus, &:active {
                        color: $theme-color;
                    }
                }
                &:last-child{
                border-bottom: 0;
                }
                ul {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 250px;
                visibility: hidden;
                @include opacity(0);
                display: none;
                z-index: 11;
                }
                &:hover > ul {
                    @media(min-width: $screen-sm-max){
                    visibility: visible;
                    @include opacity(1);
                    display: block;
                    left: 100%;
                    }
                }
            }
        }
    }
}
.menu-mobile{
position: fixed;
top: 0;
width: 300px;
height: 100%;
background: #fff;
z-index: 999;
@include box-shadow(0 0 50px rgba(black, .3));
padding: 25px;
left: -100%;
opacity: 0;
@include transition(all .2s ease-in-out);
    &.show-view{
    left: 0;
    opacity: 1;
    }
    @media(max-width: 500px){
    width:100%;
    }
    .close-offcanvas{
    text-align: center;
    }
    .icaret{
    margin-left: 5px;
    }
    .text-left{
    margin-bottom: 15px;
        ul.inline{
            li{
            margin-bottom: 5px;
            margin-left: 0;
            display:block;
            float: none;
            }
        } 
    }
    .text-right, .text-left{
    width: 100%;
    text-align: left;
    }
    .es_menu {
    padding: 10px 0 0;
    width: 100%!important;
    background: none!important;
    > li {
       display: block;
       clear: both;
       width: 100%;
       margin-bottom: 8px!important;
       padding-bottom: 8px!important;
       padding-top: 2px!important;
       border-bottom: 1px solid $border-color;
       &:last-child{
          border-bottom: none;
       }
       &:after,&:before {
          content: none;
          display: none;
       }
       > a {
          display: block;
          width: 100%;
          line-height: 32px;
          font-size: 14px;
          padding: 0!important;
          font-weight: 600;
          color: $black!important;
          text-transform: uppercase;
          &:after,&:before {
             content: none;
             display: none;
          }
          &:hover{
             color: $theme-color!important;
             background: none!important;
          }
       }
        &.menu-item--active-trail > a{
                color: $theme-color!important;
            }

           ul.menu.sub-menu{
          margin-top: 10px;
          margin-bottom: 10px;
              .icaret{
                 display: none;
              }
              li a{
                 font-size: 14px;
                 line-height: 24px;
                 padding-top: 0!important;
                 padding-bottom: 0!important;
                 color: #999999!important;
                 &:hover{
                    color: $theme-color!important;
                 }
              }
              ul.sub-menu{
                 display: block!important;
              }
           }

           .sub-menu {
              > li {
                 width: 100% !important;
                 float: none !important;
                 display: block;
                 padding: 0;
                 > a {
                    padding: 0;
                    border: 0;
                    margin: 0;
                    font-size: 14px;

                 }
              }
           }
        }


        .sub-menu {
           min-width: inherit;
           display: block;
           width: 100%;
           position: static;
           padding: 0 !important;
           visibility: visible;
           border:0;
           background: none;
           @include opacity(1);
           @include box-shadow(none);
           &:after,&:before{
              content: none;
           }
           li {
              a {
                 border-width: 0;
                 padding-left: 0;
                 padding-right: 0;
                 font-size: 14px;
                 &:before, &:after{
                    content: none!important;
                 }
                 &:hover {
                    text-indent: 0;
                 }
              }
           }

           ul {
              display: block;
              visibility: visible;
              @include opacity(1);
              @include translate(0,0);
           }
        }
    }
}
.menu-bar {
cursor: pointer;
position: relative;
position: fixed;
top: 0;
right: -100%;
z-index: 999;
background: #fff;
padding: 10px;
padding-left: 15px;
display: flex;
align-items: center;
justify-content: center;
@include transition(all .3s ease-in-out);
    .header-v2 &{
    background: none;
        i{
        color: #fff;  
        }
        span{
        background-color: #fff;
        }
        &.active{
        background: #000;
        }
    }
    &.active{
    right: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
        .toolbar-fixed &{
        top: 80px;
        }
    }
    @media(max-width: $screen-xs-max){
    right: 0;
    top: 36px;
    position: absolute;
    @include transition(top .0s ease-in-out);
        &.active{
        top: 0;
        position: fixed;
        }
    }
    &:hover{ 
    @include box-shadow(0, 0, 10px, 0.3);
    }
    i{
    margin-right: 10px;
    letter-spacing: 3px;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    }
    .bars{
    position: relative;
    height: 32px;
    width: 36px;
    }
    span{
    display: block;
    width: 24px;
    height: 2px;
    background-color: #222222;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    @include transition(all 0.35s);
      &.one{
         top: 6px;
      }
      &.two{
         top:0;
         bottom: 0;
      }
      &.three{
         bottom: 6px;
      }

   }

   &.show-view{
      span{
         &.two{
            @include opacity(0);
         } 
         &.one, &.three{
            top: 0; 
            bottom: 0;
            @include rotate(45deg);
         }
         &.three{
            @include rotate(-45deg);
         }  
      }
   }
}
