*{
    box-sizing: border-box;
}
.noahs_page_builder-wrapper{
display: flex;
justify-content: center;
}
.noahs_page_builder-editor-active{
    .layout-container{
    margin: 0 !important;
    }
    .content-header {
        .layout-container{
            margin: 0 3rem!important;
            }
    }
}
.noahs_page_builder_preview-wrapper{
    display: flex;
justify-content: center;
background-color: #4a4a4a;
    .noahs_page_builder_preview-content{
        width: 100%;
        left: auto !important;
        height: calc(100vh - 95px);
        overflow: hidden;
    }
}

#noahs_page_builder_preview{
    width: 100%;
    height: calc(100vh - 95px);
}
.widget-noahs_page_builder_row:first-child{
    > .noahs_page_builder-widget-action-tabs{
    top: 0;
    }
}
#noahs_page_builder {
    left: auto !important;
    width: 100%;
        .toolbar-fixed & {
         height: calc(100% - 70px);   
         top:70px;
        }
        label.header{
    //    float: left;
        } 
        fieldset{
            .content{
    
            }
        }
        .add-section{
        margin-top: 100px;
        padding: 50px;
     
            &_wrapper{
            padding: 50px;
            border: 1px solid #dedede;
            display: flex;
            justify-content: center;
            cursor: pointer;
            background-color: #f3f3f3;
                &:hover{
                background-color: #dfe1ed;
                }
            }
           
        }
    }
    #top-panel,
    #noahs_page_builder_form_builder{
    position: sticky;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    z-index: 99;
    padding: 10px;
    transition: padding .2s ease-in;
        &:hover{
        padding-top: 20px;
        padding-bottom: 20px;
        }
        .btn-top-panel{
        margin: 0 5px;
        background: none;
        color: #fff;
        border: none;
        font-size: 22px;
        position: relative;
            &:hover{
            color: $green;
            }
        }
        .toolbar-fixed & {
            top:80px;
        }
    }
    #top-panel{
    top: 0;
    }
    #noahs_page_builder_form_builder{
    bottom: 0;
    }
    .noahs_page_builder-widget{
    position: relative;
    min-height: 50px;
    display: flex;
        &[data-widget-global=true] {
        border-color: red;
        }
    }
    .widget-noahs-row,
    .widget-noahs-column{
    border: 1px dashed #dedede;
    // padding-top: 28px;
    } 
    .element-widget{
        border: 1px dashed transparent;
    }
    .widget-noahs_page_builder-column{
       
    }
    h2.accordion-header{
    margin-top: 0;
    position: relative;
    }



    .ui-resizable-handle {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    &:before{
        content: "";
        width: 6px;
        height: 100px;
        background: rgb(255, 0, 106);
        border-radius: 20px;
        display: block;

    }
}


.l {
left: 0;
}

.r {
right: 0;
}


.sticky-bottom{
position: sticky;
bottom: 0;
z-index: 4;
}
#saveWidgetAsGlobalForm,
#saveSectionAsThemeForm{
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    border-radius: 10px;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    z-index: 9999;   
    padding: 50px 15px 15px 15px;
    .btn-close{
        position: absolute;
    top: 15px;
    right: 15px
    }
}

.noahs_field{
    &--description{
    font-size: .8rem;
    }
}

