$purple-tab: #c2b4f4;
$primary: #00293D;
$secondary: #4a4a4a;
$green:#08CCB2;
$blue: #86C1DA;
$darkblue: #00293D;
$orange: #F9AC1B; 
$violet: #291C59;  
$yellow: #FACB38;
$gold:#A28940;
$red: #DD0029;  

$borderLight: #eaeaea;

$mobile: 600px;
$mobileBig: 768px;
$tabletSmall: 920px;
$tablet: 1024px;
$desktop: 1200px;
