a{
text-decoration: none;
}

.element-widget,
.widget-noahs_page_builder-row{
    display: flex;
}
.noahs_page_builder-row-wrapper{
  width: 100%;
  display: flex;
height: 100%;
position: relative;
z-index: 2;
}
.noahs_page_builder-row-container{
width: 100%;
padding:0;
}
.row-wrapper {
display: flex;
justify-content: center;
}
.row-elements{
    // --bs-gutter-x: 1.5rem;
    // --bs-gutter-y: 0;
    // display: flex;
    // margin-top: calc(var(--bs-gutter-y)* -1);
    // margin-right: calc(var(--bs-gutter-x)* -.5);
    // margin-left: calc(var(--bs-gutter-x)* -.5);
    // justify-content: center;
    // &.row-cols-1>* {
    //     flex: 0 0 auto;
    //     width: 100%;
    // }
    // > * {
    //     flex-shrink: 0;
    //     width: 100%;
    //     max-width: 100%;
    //     padding-right: calc(var(--bs-gutter-x)* .5);
    //     padding-left: calc(var(--bs-gutter-x)* .5);
    //     margin-top: var(--bs-gutter-y);
    // }
    // @media (max-width:959px){
    //     flex-wrap: wrap;
    // }
    // @media (min-width: 768px){
    //     &.row-cols-md-3>* { 
    //     flex: 0 0 auto;
    //     width: 33.3333333333%;
    //     }
    // }

}
.noahs_page_builder-widget{
    position: relative;

    .widget-wrapper{
        position: relative;
        // 
        display: flex;
        align-items: center;
        width: 100%;
        .noahs_page_builder-editor-active &{
            min-height: 50px;
        }
    }
    &.full-height{
    height: 100vh;
    }
}
.noahs_page_builder-slideshow{
    width: 100%;
    overflow: hidden;
    .swiper-slide{
        width: 100% ;
    }
}

.media-preview-actions{
background-image: repeating-conic-gradient(#ffffff 0% 25%, #eaeaea 0% 50%);
background-position: 0 0, 22px 22px;
background-size: 44px 44px;
background-color: #eaeaea;
position: relative;
height: 100px;
overflow: hidden;
font-size: 40px;
    &--mask{
        label{
        position: relative;
        }
        img{
        padding: 5px;
        border: 3px dotted transparent;
        }
        input{
        display: none;
        }
        label:hover img, input:checked + img{ 
            border: 3px dotted #000000;
        }
        .btn-group{
        position:sticky !important;
        }
    }
    .btn-group{
    bottom: -100%;
    transition: all .2s ease-in-out;
    }
    .background-thumbnail-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    } 
    &:hover{
        .btn-group{
        bottom: 0;
        }
    }
}
.widget-content{
  width: 100%; 
}


