:root {
  --noahs_page_builder-principal-color: #b558fe;
}

input::placeholder {
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
  color: #7a7a7a;
}

.search_product::placeholder {
  font-size: 16px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

select::-ms-expand {
  display: none;
}

form {
  margin: 0;
}

.noahs_page_builder_field {
  margin-bottom: 15px;
  padding: 15px;
  background: #ffffff;
}
.noahs_page_builder_field .noahs_page_builder_field {
  margin-bottom: 15px;
  padding: 0;
  background-color: transparent;
}
.noahs_page_builder_field h5 {
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
}
.noahs_page_builder_field label {
  font-size: .8rem;
}

.accordion-actions {
  display: flex;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
}
.accordion-actions .btn {
  font-size: .8rem;
}

.field__noahs_page_builder_multiple_elements .accordion {
  border: none;
  box-shadow: none;
}
.field__noahs_page_builder_multiple_elements .accordion .accordion-body {
  padding-left: 15px;
  padding-right: 15px;
}
.field__noahs_page_builder_multiple_elements .accordion .accordion-button {
  font-size: .8rem;
}

.field-element-list-horizontal {
  list-style: none;
  padding: 0;
  margin: 15px  0 0;
  display: flex;
}
.field-element-list-horizontal li {
  margin-bottom: 5px;
  margin-right: 5px;
}
.field-element-list-horizontal li:last-child {
  margin: 0;
}

.sp-replacer {
  width: 100%;
  display: block;
}

.noahs_page_builder_field__responsive h5 {
  width: 100%;
}
.noahs_page_builder_field__responsive p {
  margin: 0;
  font-size: .8rem;
}
.noahs_page_builder_field__responsive .noahs_page_builder_field {
  margin: 0;
  padding: 0;
}

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.btn-group-margin {
  display: flex;
  justify-content: space-between;
}
.btn-group-margin .btn {
  margin-right: 15px;
}
.btn-group-margin .btn:last-child {
  margin-right: 0;
}

/* Carga Ajaxs */
.ajax-progress {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 502;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-image: none;
}
.ajax-progress:after {
  content: "";
  position: absolute;
  left: 50%;
  height: 75px;
  width: 75px;
  top: 50%;
  display: inline-block;
  margin-top: -15px;
  margin-left: -15px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.ajax-progress .throbber {
  display: none;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.select2 {
  width: 100% !important;
}

.select2-results__options--nested {
  font-size: .8rem;
}

a {
  text-decoration: none;
}

.element-widget,
.widget-noahs_page_builder-row {
  display: flex;
}

.noahs_page_builder-row-wrapper {
  width: 100%;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 2;
}

.noahs_page_builder-row-container {
  width: 100%;
  padding: 0;
}

.row-wrapper {
  display: flex;
  justify-content: center;
}

.noahs_page_builder-widget {
  position: relative;
}
.noahs_page_builder-widget .widget-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.noahs_page_builder-editor-active .noahs_page_builder-widget .widget-wrapper {
  min-height: 50px;
}
.noahs_page_builder-widget.full-height {
  height: 100vh;
}

.noahs_page_builder-slideshow {
  width: 100%;
  overflow: hidden;
}
.noahs_page_builder-slideshow .swiper-slide {
  width: 100%;
}

.media-preview-actions {
  background-image: repeating-conic-gradient(#ffffff 0% 25%, #eaeaea 0% 50%);
  background-position: 0 0, 22px 22px;
  background-size: 44px 44px;
  background-color: #eaeaea;
  position: relative;
  height: 100px;
  overflow: hidden;
  font-size: 40px;
}
.media-preview-actions--mask label {
  position: relative;
}
.media-preview-actions--mask img {
  padding: 5px;
  border: 3px dotted transparent;
}
.media-preview-actions--mask input {
  display: none;
}
.media-preview-actions--mask label:hover img, .media-preview-actions--mask input:checked + img {
  border: 3px dotted #000000;
}
.media-preview-actions--mask .btn-group {
  position: sticky !important;
}
.media-preview-actions .btn-group {
  bottom: -100%;
  transition: all .2s ease-in-out;
}
.media-preview-actions .background-thumbnail-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.media-preview-actions:hover .btn-group {
  bottom: 0;
}

.widget-content {
  width: 100%;
}

.widget-noahs_page_builder-countdown .widget-content {
  display: flex;
  justify-content: center;
}

.flipdown.flipdown__theme-dark .rotor,
.flipdown.flipdown__theme-dark .rotor-top,
.flipdown.flipdown__theme-dark .rotor-leaf-front {
  background: #DD0029;
}

.flipdown.flipdown__theme-dark .rotor-bottom,
.flipdown.flipdown__theme-dark .rotor-leaf-rear {
  background: #bb2735;
}

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  color: #f8ce0b;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  color: #ccc;
}

.noahs_page_builder-slideshow {
  min-height: 100%;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-color: #4a4a4a;
  --swiper-navigation-color: #4a4a4a;
}
.noahs_page_builder-slideshow .swiper-slide {
  background-color: #08CCB2;
}
.noahs_page_builder-slideshow .swiper-slide:nth-child(2) {
  background-color: #FACB38;
}
.noahs_page_builder-slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.noahs_page_builder-slideshow--container {
  max-width: 650px;
  display: flex;
  width: 100%;
}
.noahs_page_builder-slideshow--wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  height: 100%;
  min-height: inherit;
}
.noahs_page_builder-slideshow--content {
  text-align: center;
  color: #fff;
}
.noahs_page_builder-slideshow--text {
  margin-bottom: 30px;
  font-size: 1.4rem;
}
.noahs_page_builder-slideshow .noahs_page_builder-slideshow--button .btn {
  background: #fff;
  color: black;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding: 10px 25px;
}

.widget-noahs-column {
  display: flex;
}
.widget-noahs-column .noahs_page_builder-column--inner {
  width: 100%;
}
.widget-noahs-column .noahs_page_builder-column--content-inner {
  display: flex;
  flex-direction: column;
}

.widget-noahs-image .widget-image-src {
  max-width: 100%;
}
.widget-noahs-image .widget-image-src.empty {
  width: 450px;
  max-width: 100%;
}

.noahs_page_builder-carousel--actions {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .3s ease-in-out;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noahs_page_builder-carousel--actions a {
  color: #fff;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
.noahs_page_builder-carousel .swiper-slide:hover .noahs_page_builder-carousel--actions {
  opacity: 1;
  visibility: visible;
}

.widget-noahs_page_builder-bars .progress {
  margin-bottom: 15px;
  background-color: #08CCB2;
}
.widget-noahs_page_builder-bars .progress .progress-bar {
  background-color: #FACB38;
}

.drupal-viewblock-empty {
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 20%, #e2e2e2 20%, #e2e2e2 80%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0)) 0% 0%/30px 30px, radial-gradient(circle, rgba(0, 0, 0, 0) 20%, #e2e2e2 20%, #e2e2e2 80%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0)) 15px 15px/30px 30px, linear-gradient(#ffffff 2px, rgba(0, 0, 0, 0) 2px) 0px -1px/15px 15px, linear-gradient(90deg, #ffffff 2px, #e2e2e2 2px) -1px 0px/15px 15px #e2e2e2;
  background-size: 30px 30px, 30px 30px, 15px 15px, 15px 15px;
  background-color: #e2e2e2;
  height: 150px;
  width: 100%;
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 800;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.site__logo {
  max-width: 100%;
}

body.userlogin .layout-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
body.userlogin .layout-content form {
  padding: 15px;
  border: 1px solid #dedede;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
body.userlogin .layout-content form label {
  display: block;
}

.noahs-list-group--item {
  display: flex;
}
.noahs-list-group i {
  font-size: 4rem;
  margin-right: 1rem;
}

.noahs_page_builder-gallery .gallery-item {
  overflow: hidden;
  position: relative;
}
.noahs_page_builder-gallery .gallery-item:hover .noahs_page_builder-carousel--actions {
  opacity: 1;
  visibility: visible;
}
.noahs_page_builder-gallery .gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.widget-noahs_page_builder-separator .widget-content {
  display: flex;
  justify-content: center;
}
.widget-noahs_page_builder-separator .widget-content span {
  display: flex;
  flex-direction: column;
}

.noahs_page_builder-separator-item {
  margin: 15px 0;
  position: relative;
  width: 100%;
  text-align: center;
  display: inline-block;
  --separator-border-width: 1px;
  --separator-border-style: dashed;
  --separator-color: black;
  --separator-text-padding: 15px;
  --separator-mask-size: 20px;
  --separator-mask-color: #000000;
  --separator-stroke-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noahs_page_builder-separator-item span {
  padding-left: var(--separator-text-padding);
  padding-right: var(--separator-text-padding);
  flex-shrink: 0;
}
.noahs_page_builder-separator-item:after {
  display: none;
}
.noahs_page_builder-separator-item:before, .noahs_page_builder-separator-item:after {
  width: 100%;
  content: "";
}
.noahs_page_builder-separator-item.icon:after, .noahs_page_builder-separator-item.title:after {
  display: block;
}
.noahs_page_builder-separator-item.line:before, .noahs_page_builder-separator-item.line:after, .noahs_page_builder-separator-item.double_line:before, .noahs_page_builder-separator-item.double_line:after {
  height: var(--separator-border-width);
  background-color: var(--separator-mask-color);
}
.noahs_page_builder-separator-item.double_line:before, .noahs_page_builder-separator-item.double_line:after {
  box-shadow: 0 5px 0 var(--separator-mask-color);
}
.noahs_page_builder-separator-item.dotted:before, .noahs_page_builder-separator-item.dotted:after {
  border-top: var(--separator-border-width) dotted var(--separator-color);
}
.noahs_page_builder-separator-item.dashed:before, .noahs_page_builder-separator-item.dashed:after {
  border-top: var(--separator-border-width) dashed var(--separator-color);
}
.noahs_page_builder-separator-item.line_shadow {
  overflow: hidden;
}
.noahs_page_builder-separator-item.line_shadow:before, .noahs_page_builder-separator-item.line_shadow:after {
  margin: 0 auto 0;
  width: 100%;
  height: 10px;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 55%);
}
.noahs_page_builder-separator-item.line_gradient:before, .noahs_page_builder-separator-item.line_gradient:after {
  height: var(--separator-border-width);
  background: linear-gradient(to right, rgba(192, 192, 192, 0), #c0c0c0, rgba(192, 192, 192, 0));
}
.noahs_page_builder-separator-item.curve:before, .noahs_page_builder-separator-item.curve:after {
  mask-repeat: repeat-x;
  mask-size: var(--separator-mask-size) 100%;
  height: 20px;
  background-color: var(--separator-mask-color);
  mask-image: var(--separator-pattern-url);
}
.noahs_page_builder-separator-item.triangle:before, .noahs_page_builder-separator-item.triangle:after {
  mask-repeat: repeat-x;
  mask-size: var(--separator-mask-size) 100%;
  height: 20px;
  background-color: var(--separator-mask-color);
  mask-image: var(--separator-pattern-url);
}
.noahs_page_builder-separator-item.slash:before, .noahs_page_builder-separator-item.slash:after {
  mask-repeat: repeat-x;
  mask-size: var(--separator-mask-size) 100%;
  height: 20px;
  background-color: var(--separator-mask-color);
  mask-image: var(--separator-pattern-url);
}

.widget-noahs-accordion .accordion {
  width: 100%;
}

.noahs--video-button {
  display: flex;
  align-items: center;
}
.noahs--video-button.flex-row-reverse h5 {
  margin-left: 0;
  margin-right: 15px;
}
.noahs--video-button h5 {
  margin-left: 15px;
}
.noahs--video-button .play-video {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--noahs_page_builder-principal-color);
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
}

.icon-steps {
  list-style: none;
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
}
.icon-steps--icon {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.icon-steps--icon > span {
  width: 50px;
  display: flex;
  height: 50px;
  background-color: var(--noahs_page_builder-principal-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
}
.icon-steps--icon > span span {
  position: relative;
  z-index: 1;
}
.icon-steps--icon > span:before, .icon-steps--icon > span:after {
  content: "";
  background-color: var(--noahs_page_builder-principal-color);
  border-radius: 50%;
  opacity: .4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon-steps--icon > span:before {
  content: "";
  width: 65px;
  height: 65px;
}
.icon-steps--icon > span:after {
  content: "";
  width: 80px;
  height: 80px;
}
.icon-steps .icon-steps--item:not(:last-child) .icon-steps--wrapper {
  position: relative;
}
.icon-steps .icon-steps--item:not(:last-child) .icon-steps--wrapper:before {
  display: block;
  width: 60%;
  height: 1px;
  position: absolute;
  content: '';
  border-bottom: 1px solid rgba(132, 132, 132, 0.2);
  top: 28px;
  left: 74%;
}

.noahs-divider-svg {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.noahs-divider-svg.after {
  top: auto;
  bottom: 0;
}

.testimonial-widget.testimonial-slider {
  text-align: center;
}
.testimonial-widget.testimonial-slider .testimonial-widget--wrapper {
  max-width: 700px;
  margin: 0 auto;
}
.testimonial-widget.testimonial-carousel, .testimonial-widget.testimonial-grid {
  text-align: left;
}
.testimonial-widget.testimonial-carousel .testimonial-widget--wrapper, .testimonial-widget.testimonial-grid .testimonial-widget--wrapper {
  max-width: auto;
  margin: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.testimonial-widget.testimonial-carousel .testimonial-widget--image, .testimonial-widget.testimonial-grid .testimonial-widget--image {
  margin-bottom: 0;
  margin-right: 25px;
}
.testimonial-widget.testimonial-carousel .testimonial-widget--image span, .testimonial-widget.testimonial-grid .testimonial-widget--image span {
  width: 80px;
  height: 80px;
  box-shadow: none;
}
.testimonial-widget.testimonial-carousel .testimonial-widget--header, .testimonial-widget.testimonial-grid .testimonial-widget--header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.testimonial-widget.testimonial-carousel h4, .testimonial-widget.testimonial-grid h4 {
  font-weight: normal;
  font-size: 1rem;
}
.testimonial-widget.testimonial-grid .testimonial-widget--wrapper {
  margin: 0;
  padding: 25px;
}
.testimonial-widget--wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
}
.testimonial-widget--image {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.testimonial-widget--image span {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.testimonial-widget--image img {
  object-fit: cover;
  object-position: center center;
}
.testimonial-widget h4 {
  margin-bottom: 15px;
}

.testimonial-wrapper {
  width: 100%;
}
.testimonial-wrapper--content {
  padding-top: 25px;
  padding-bottom: 25px;
}

:root {
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --breakpoint: 767px;
  --color: var(--noahs_page_builder-principal-color);
  --color2: #161d27;
  --color2-dark: #0f131a;
}

@media (max-width: 766px) {
  .noahs-navbar:not(.menu--not-responsive) .noahs-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    max-width: 85%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    background-color: #fff;
    transform: translate(-100%);
    transition: all 0.4s ease-in-out;
  }
  .noahs-navbar:not(.menu--not-responsive) .noahs-menu.is-active {
    transform: translate(0%);
  }
}
.noahs-menu .menu__header {
  display: none;
  box-shadow: var(--shadow-medium);
}
@media (max-width: 766px) {
  .noahs-menu .menu__header {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
    z-index: 110;
    visibility: hidden;
    background: transparent;
  }
  .noahs-menu .menu__header.is-active {
    visibility: visible;
    background-color: #fff;
  }
  .noahs-menu .menu__header.is-active > .menu__arrow {
    display: flex;
  }
}
@media (max-width: 766px) {
  .noahs-menu .menu__header .menu__arrow {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 3rem;
  }
  .noahs-menu .menu__header .menu__arrow:hover i {
    color: var(--color);
  }
  .noahs-menu .menu__header .menu__arrow > i {
    font-size: 0.95rem;
    color: #000;
    transition: all 0.25s ease;
  }
}
@media (max-width: 766px) {
  .noahs-menu .menu__header .menu__title {
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
    color: #000;
    transition: all 0.25s ease;
  }
  .noahs-menu .menu__header .menu__title:hover {
    color: var(--color);
  }
  .darkmode .noahs-menu .menu__header .menu__title {
    color: #fff;
  }
}
.noahs-menu .menu__inner {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.navbar--horizontal .noahs-menu .menu__inner {
  flex-direction: column;
}
@media (max-width: 766px) {
  .noahs-menu .menu__inner {
    height: 100%;
    margin-top: -3rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    padding: 25px;
  }
}
.noahs-menu .menu__inner .menu__item {
  position: static;
  display: inline-block;
}
.noahs-menu .menu__inner .menu__item:last-child {
  padding-right: 0;
}
.noahs-menu .menu__inner .menu__item:hover > .menu__link {
  color: var(--color);
}
@media (max-width: 766px) {
  .noahs-menu .menu__inner .menu__item {
    display: block;
    padding: 0;
  }
}
@media (min-width: 767px) {
  .noahs-menu .menu__inner .menu__item:hover > .menu__link i {
    transform: rotate(-90deg);
  }
}
@media (min-width: 767px) {
  .noahs-menu .menu__inner .menu__item.menu__dropdown:hover > .submenu {
    opacity: 1;
    visibility: visible;
    top: 95%;
  }
}
.noahs-menu .menu__inner .menu__item .menu__link {
  display: block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-transform: capitalize;
  transition: all 0.25s ease;
}
@media (max-width: 766px) {
  .noahs-menu .menu__inner .menu__item .menu__link {
    justify-content: space-between;
    padding: 10px 0;
  }
}
.noahs-menu .menu__inner .menu__item .menu__link > i {
  margin-left: 10px;
  font-size: 0.95rem;
  transform: rotate(90deg);
  transition: 0.35s;
}
@media (max-width: 766px) {
  .noahs-menu .menu__inner .menu__item .menu__link > i {
    padding: 10px;
    transform: rotate(0deg);
  }
}
.darkmode .noahs-menu .menu__inner .menu__item .menu__link {
  color: #fff;
}

.submenu {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 50%;
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: #fff;
  box-shadow: var(--shadow-medium);
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  transform: translateX(-50%);
}
@media (max-width: 766px) {
  .submenu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: auto;
    margin: 0;
    padding: 100px 15px 0;
    border-radius: 0;
    border-top: 0;
    box-shadow: none;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    transform: translateX(0%);
  }
  .submenu.is-active {
    display: block;
  }
}
@media (min-width: 767px) {
  .submenu {
    animation: none !important;
  }
}
@media (min-width: 767px) {
  .submenu.megamenu__normal {
    left: 65%;
    max-width: 250px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
@media (min-width: 767px) {
  .submenu.megamenu__text {
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    height: auto;
    margin: 0 auto;
  }
}
@media (min-width: 975px) {
  .submenu.megamenu__text {
    max-width: 992px;
  }
}
.submenu .submenu__inner {
  width: 100%;
  padding: 0 15px;
}
@media (max-width: 766px) {
  .submenu .submenu__inner {
    width: 100%;
    padding: 0;
  }
}
.submenu .submenu__list {
  padding: 0;
}
@media (max-width: 766px) {
  .submenu .submenu__list {
    margin-bottom: 20px;
  }
}
.submenu .submenu__list li {
  display: block;
  line-height: 1;
  margin: 0 auto;
}
.submenu .submenu__list li a {
  display: block;
  padding: 10px 0;
  line-height: 1.4;
  text-transform: capitalize;
  color: #000;
  transition: all 0.25s ease-in-out;
}
.submenu .submenu__list li a:hover {
  color: var(--color);
}
@media (max-width: 766px) {
  .submenu .submenu__list li a {
    display: block;
  }
}
.darkmode .submenu .submenu__list li a {
  color: #fff;
}
.darkmode .submenu .submenu__list li a:hover {
  color: var(--color);
}

.overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.45s ease-in-out;
  pointer-events: none;
}
@media (max-width: 766px) {
  .overlay {
    cursor: url("https://i.imgur.com/cPh9Zm5.png"), zoom-out;
    pointer-events: visible;
  }
  .overlay.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.burger-wrapper {
  display: flex;
  width: 100%;
}

.burger {
  position: relative;
  display: none;
  cursor: pointer;
  width: 25px;
  height: 15px;
  margin-right: 15px;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}
.menu--not-responsive .burger {
  display: none !important;
}
@media (max-width: 766px) {
  .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
.burger .burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border-radius: 15px;
  background: #000;
}
.burger .burger-line .overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.45s ease-in-out;
  pointer-events: none;
}
@media (max-width: 766px) {
  .burger .burger-line .overlay {
    cursor: url("https://i.imgur.com/cPh9Zm5.png"), zoom-out;
    pointer-events: visible;
  }
  .burger .burger-line .overlay.is-active {
    opacity: 1;
    visibility: visible;
  }
}
.burger .burger-line .burger {
  position: relative;
  display: block;
  cursor: pointer;
  width: 25px;
  height: 15px;
  margin-right: 15px;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}
@media (max-width: 766px) {
  .burger .burger-line .burger {
    opacity: 1;
    visibility: visible;
  }
}
.burger .burger-line .burger .burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border-radius: 15px;
  background: #000;
}
.darkmode .burger .burger-line .burger .burger-line {
  background: #fff;
}
.burger .burger-line .burger .burger-line:nth-child(1) {
  top: 0;
}
.burger .burger-line .burger .burger-line:nth-child(2) {
  top: 8px;
  width: 70%;
}
.burger .burger-line .burger .burger-line:nth-child(3) {
  top: 16px;
}
.darkmode .burger .burger-line {
  background: #fff;
}
.burger .burger-line:nth-child(1) {
  top: 0;
}
.burger .burger-line:nth-child(2) {
  top: 8px;
  width: 70%;
}
.burger .burger-line:nth-child(3) {
  top: 16px;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
:root {
  --header-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.noahs-pro-theme--header {
  position: relative;
  z-index: 99;
  transition: all .2s ease-in-out;
}
.noahs-pro-theme--header.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
  box-shadow: var(--header-shadow);
}
.noahs-pro-theme--header .site__logo {
  transition: all .2s ease-in-out;
}

.noahs-language-switcher.not_dropdown {
  display: flex;
  list-style: none;
  gap: 15px;
}
.noahs-language-switcher a {
  text-transform: uppercase;
  color: #000000;
  display: block;
}
.noahs-language-switcher.dropdown {
  position: relative;
  display: inline-flex;
}
.noahs-language-switcher.dropdown .caption {
  padding: 11px 24px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #000;
}
.noahs-language-switcher.dropdown .caption i {
  margin-left: 15px;
}
.noahs-language-switcher.dropdown .list {
  position: absolute;
  background-color: #f2f2f2;
  width: 100%;
  border-radius: 0 0 3px 3px;
  display: none;
}
.noahs-language-switcher.dropdown .item a {
  padding: 11px 24px;
  cursor: pointer;
  text-transform: uppercase;
}
.noahs-language-switcher.dropdown .item.selected a {
  font-weight: bold;
}
.noahs-language-switcher.dropdown .item:hover a,
.noahs-language-switcher.dropdown .caption:hover {
  background-color: var(--noahs_page_builder-principal-color);
  color: #fff;
}
.noahs-language-switcher.dropdown.open .caption {
  border-radius: 3px 3px 0 0;
  border-bottom: solid 1px #999;
}
.noahs-language-switcher.dropdown.open .list {
  display: block;
}

.widget-noahs_page_builder-iconlist .list-group {
  margin: 0;
}

.wd-10 {
  width: 10%;
}

.wd-20 {
  width: 20%;
}

.wd-30 {
  width: 30%;
}

.wd-40 {
  width: 40%;
}

.wd-50 {
  width: 50%;
}

.wd-60 {
  width: 60%;
}

.wd-70 {
  width: 70%;
}

.wd-80 {
  width: 80%;
}

.wd-90 {
  width: 90%;
}

.wd-100 {
  width: 100%;
}

.hidden_after:after {
  content: "Hidden";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #dedede;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }

  .hidden-xs[data-settings] {
    display: block !important;
    opacity: .4;
  }
  .hidden-xs[data-settings]:after {
    content: "Hidden";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #dedede;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hidden-md {
    display: none !important;
  }

  .hidden-md[data-settings] {
    display: block !important;
    opacity: .4;
  }
  .hidden-md[data-settings]:after {
    content: "Hidden";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #dedede;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .hidden-lg {
    display: none !important;
  }

  .hidden-lg[data-settings] {
    display: block !important;
    opacity: .4;
  }
  .hidden-lg[data-settings]:after {
    content: "Hidden";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #dedede;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
.noahs_product_teaser {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.noahs_product_teaser img {
  height: auto;
  max-width: 100%;
}

.cart-form tbody tr td, .cart-form thead tr th {
  text-align: center;
  border: none;
}

td.subtotal-title {
  padding: 10px 0 10px 5px;
}

.cart-form .delete-order-item {
  background-image: url("../images/close.png");
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
  background-color: transparent !important;
  background-size: 15px;
  padding: 8px;
  box-shadow: none;
}

.cart-block--summary {
  position: relative;
}

.cart-block--summary__count {
  display: inline-block;
  position: absolute;
  top: -7px;
  right: -7px;
  line-height: 1;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--noahs_page_builder-secondary-color);
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  padding: 5px;
  color: #ffffff;
}

.cart-block--contents {
  width: 300px;
  right: 0;
  padding: 5px;
  margin-top: 24px;
  color: #555555;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.cart-block--contents__items {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 300px;
  font-size: 12px;
}

.light-cart_icon i {
  color: #ffffff;
}

.cart--cart-block img {
  width: 60px;
}
.cart--cart-block table {
  border: none;
}
.cart--cart-block table tbody {
  border: none;
}
.cart--cart-block tbody tr td {
  border: none;
}

.layout-checkout-form .layout-region-checkout-secondary table tbody, .layout-checkout-form .layout-region-checkout-secondary tbody tr td {
  border: none;
}

.cart--cart-block table tr {
  border-bottom: 1px solid #f3f3f3;
}
.cart--cart-block tbody tr td {
  padding: 8px 5px;
}
.cart--cart-block td.views-field-quantity {
  padding-right: 0;
}
.cart--cart-block .cart-block-count {
  position: absolute;
  top: 0;
  left: 15px;
  display: table;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 9px;
  background: #eaeaea;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.cart--cart-block .cart-block-link {
  font-weight: 600;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
  line-height: normal;
}
.cart--cart-block .cart-block-link a {
  padding: 0 25px;
  background-color: #2ba9e0;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
}
.cart--cart-block .cart-block-link a:hover {
  color: #ffffff;
  background-color: #333333;
}
.cart--cart-block .cart-block-empty {
  padding: 20px;
}
.cart--cart-block:hover .cart-block-empty {
  display: block;
}

.field-list-price {
  text-decoration: line-through;
}

.widget-noahs-drupal-products img {
  max-width: 100%;
  height: auto;
}

.noahs_page_builder_loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
