
     <header role="banner" class="noahs-theme--header">
      {{page.header}}
    </header>
    <div class="noahs-theme-tabs">
      <div class="container">
          <nav>
        {{page.tabs}}
      </nav>
    </div>
    </div>
   {{custom_variable | raw}}
        <footer role="banner">
      {{page.page}}
    </footer>