.drupalentor-widget-action-tabs{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    margin:0;
    z-index: 12;
    &.tab-drupalentor_column {
      .drupalentor-up-widget > i{
      transform: rotate(-90deg);
      }
      .drupalentor-down-widget > i{
      transform: rotate(-90deg);
      }
    }
    &.tab-drupalentor_row{
      top: -29px;
      justify-content: center;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
      background-color: #0dcaf0;
      padding: 0;
      div{
      margin:0;
      background:none;
      }
    }
    &.tab-drupalentor_column{
      div{
        background: $green;
      }
    }
    li{
      display: flex;
    }
    div{
    background: #ffc107;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 28px;
    border: none;
    cursor: pointer;
    }
  

}
.drupalentor-tabs-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 50px 0 0;
    background: #f3f3f3;
    a {
      text-decoration: none;
      background: $green;
      display: inline-block;
      padding: 0.5rem 1.5rem;
      color: black;
      margin: 0;
      position: relative;
      outline : none !important;
      &:hover {
        opacity: 0.8;
      }

      
      &.active {
        background: white;
        z-index: 10;
        pointer-events: none;
      }
    }
  }
  
  .drupalentor-tabs-elements{
    .drupalentor-tab{
      display: none;
      h4{
        text-transform: uppercase;
        font-size: 0.8rem;
      }
       
        &:first-child{
            display: block;
            }
    }
  }
  [data-state-group]{
    &:nth-child(n+2){
    display: none;
    }
  } 

  .hover_tabs, .responsive__tabs{
    display: flex;

    a{
      // border: 1px solid #dedede;
      padding: 8px 15px;
      color: #4a4a4a;
      text-decoration: none;
      text-transform: uppercase;
      font-size: .8rem;
      &.active{
        background-color: $green;
      }
    }
  }
  .hover_tabs{

    a{
      background-color: #cbcbcb;
    }
  }
  .field__hover-content{
    padding: 15px;
    border: 1px solid #dedede;
  }
  .responsive__tabs{
margin-bottom: 15px;
  }