.element-widget,
.widget-drupalentor_row{
    display: flex;
}
.drupalentor-row-container{
    width: 100%;
    display: flex;
}
.row-wrapper {
    display: flex;
    justify-content: center;
    }
.drupalentor-widget{
    &.full-height{
    height: 100vh;;
    }
}
.drupalentor-slideshow{
    width: 100%;
    overflow: hidden;
    .swiper-slide{
        width: 100% ;
    }
}


.drupalentor-gallery {
    display: grid;
    gap: 20px; // Espacio entre las imágenes, puedes ajustar según tus necesidades
  
    .gallery-item {
      width: 100%;
      overflow: hidden;
  
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
  
    @for $i from 1 through 10 {
      &.columns-#{$i} {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }
  
    // Ajusta el diseño para pantallas más pequeñas
    @media screen and (max-width: 768px) {
      &.columns-2 {
        grid-template-columns: repeat(2, 1fr);
      }
      &.columns-3 {
        grid-template-columns: repeat(2, 1fr);
      }
      &.columns-4 {
        grid-template-columns: repeat(2, 1fr);
      }
      &.columns-5 {
        grid-template-columns: repeat(2, 1fr);
      }
      &.columns-6 {
        grid-template-columns: repeat(3, 1fr);
      }
      &.columns-7 {
        grid-template-columns: repeat(3, 1fr);
      }
      &.columns-8 {
        grid-template-columns: repeat(3, 1fr);
      }
      &.columns-9 {
        grid-template-columns: repeat(3, 1fr);
      }
      &.columns-10 {
        grid-template-columns: repeat(3, 1fr);
      }
  
      // Agrega más ajustes según sea necesario
    }
  
    @media screen and (max-width: 480px) {
      &.columns-4,
      &.columns-6 {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }